body, html {
  height: 100%;
  margin: 0;
}

.background_image {
  
  background-image: url("https://i.pinimg.com/236x/c5/4b/9f/c54b9fcc4deb4e74703b642295eae68b.jpg");

  
  height: 100%; 

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  .design_btn{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white ;
  }
  .design_btn:hover{
background-color: #F2F6A0;
  }
 
  .text{
      font-family: cursive;
      color:black
  }