body, html {
  height: 100%;
  margin: 0;
}

.background_image {
  
  background-image: url("https://i.pinimg.com/236x/c5/4b/9f/c54b9fcc4deb4e74703b642295eae68b.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading{
  text-align: center;
  padding-top: 35px;
}
.head_text{
  color:white;
  font-size: 60px;
  font-family:cursive;
}
#tableBoard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table, td {
border: 1px solid black;
cursor: pointer;
background-color: transparent;
 border-collapse: collapse;
margin-top: 30px;
}

td {
width: 100px;
height: 100px;
text-align: center;
font-size: 40px;
font-family:cursive;
font-weight: bold;
background-color: transparent;
border-bottom: 4px solid black;
border-right:4px solid black;
}

td:hover{
background-color: #F2F6A0 ;
}

.btnDesign{

margin-top: 10px;
}
.wonText{
color:red;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
margin-top: 10px;
font-size: 30px;
}
.span_text{
margin-left: 100px;
font-family: cursive;
color:red
}
#heading_modal{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: cursive;
color:white;
}
#heading_modal2{
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 font-family: cursive;
 color:white;
}
.modal-header {
background-color: black;display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#close_btn1{
margin-top: -50px;
}
#close_btn2{
margin-top: -50px;
}
svg {
height: 300px;
width: 290px;
position: absolute;
}
line {
stroke: black;
stroke-width: 4px;
}